        .locate-button {
            position: absolute;
            display: flex
        ;
            align-items: center;
            margin-top: -143px;
            right: 10px;
            z-index: 2;
            background-color: white;
            border: 1px solid #ccc;
            border-radius: 10px;
            height: 33px;
            width: 35px;
            padding: 8px;
            padding-left: 5px;
            padding-top: 8.5px;
            cursor: pointer;
        }

        .navbar{
            z-index:40;
        }

       
        #map{
            margin-top:-35px;
            margin-left:-8px;
            height:96.5vh;
            width:100.7%;
        }
        
        /* Estilos para a box lateral */
        .route-bar{
            width:355px;
        }
        .search-bar {
            display: flex;
            align-items: center;
            background-color: white;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 5px 10px;
            width: 355px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .route-box {
            background: white;
            padding: 10px;
            padding-left: 18px;
            margin-left: -100px;
            border-radius: 5px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
            max-width: 390px;
            width: 950px;
            height: 1675px;
            font-family: Arial, sans-serif;}


        .route-item {
            margin-bottom: 10px;
        }
        .route-item p {
            margin: 0;
        }
        #input-container {
            margin-bottom: 10px;
            padding: 10px;
            background: white;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            max-width: 300px;
        }
        #input-container input {
            margin: 5px 0;
            padding: 5px;
            width: 100%;
            box-sizing: border-box;
        }
    
            .hidden {
                display: none;
            }
            
            #sidebar {
                background-color: white;
                padding: 10px;
                border-radius: 5px;
                width: 300px;
                position: absolute;
                top: 10px;
                left: 10px;
                z-index: 1000;
            }
            
            #map {
                width: 100.8%;
                height: 97.4vh;
                margin-left:0px !important;
                margin-top: 0px !important;
            }
            
        