<!DOCTYPE html>
<html>
    <head>
      <title>Mapas Pista News</title>
        <meta charset="utf-8">
        <meta name = "viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
        <meta name="keywords" content="PistaNews, Wikicrime, mapa das favelas, wikipedia criminal, enciclopédia do crime, wikicrime PistaNews">
        
        <link rel="stylesheet" href="css\mapas.css">
    </head>    
  <header>    
    <div class="imagem-logo"><a href="MAPAS.html"><img src="IMAGENS\PISTA-MAPS.png"></a></div>
   
</header>

  <body>
<div id="map-canvas">
  

 <script

 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClZ8Fn3e432e2UZBKSqXCuRHF0AxTgs1I"&callback=initMap></script>
    
    <script>
var map;
var infowindow;
function initialize() {
  var mapOptions = {gestureHandling: 'cooperative'}

  map=new google.maps.Map(document.getElementById('map-canvas'), mapOptions);


  var mapLayer=new google.maps.KmlLayer({
    url: "https://www.google.com/maps/d/kml?mid=16StTbxGd7rmUzR9hmW55dZD-SXfolV97&ll"  });
  mapLayer.setMap(map);

}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </body>
</html>
</div>

