<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previsão do Tempo - RJ</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; margin-top: 50px; }
        .container { background: #f4f4f4; padding: 20px; border-radius: 10px; display: inline-block; }
    </style>
</head>
<body>



    <div class="container">
        <div class="box" style="padding-top: 1px;height: 205px;background-color: #c6c6c6;width: 400px;border-radius: 23px;">
        <h1>Previsão: Rio de Janeiro</h1>
        <p>🌡️ Temperatura mínima: <strong>{{ dados.temp_min }}</strong></p>
        <p>🔥 Temperatura máxima: <strong>{{ dados.temp_max }}</strong></p>
        <p>💨 Sensação térmica: <strong>{{ dados.sensacao }}</strong></p>
        </div>
    </div>

    





</body>
</html>
